<div class="card">
  <h2>Login</h2>
  <form
    autocomplete="off"
    [formGroup]="loginForm"
    (submit)="loginForm.valid && onSubmit()"
  >
    <div class="form__item">
      <label for="login">login</label>
      <input
        id="login"
        formControlName="login"
        type="email"
        placeholder="Done Joe"
      />
      @if (login?.invalid && (login?.dirty || login?.touched)) {
      <div *ngIf="login?.errors?.['required']" class="error">
        Login is required.
      </div>
      <div *ngIf="login?.errors?.['email']" class="error">
        Please enter a valid login address.
      </div>
      }
    </div>
    <div class="form__item">
      <label for="login">password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="******"
      />
      @if (password?.invalid && (password?.dirty || password?.touched)) {
      <div *ngIf="password?.errors?.['strongPassword']" class="error">
        Password must be at least 8 characters long, include both uppercase and
        lowercase letters, at least one number, and one special character.
      </div>
      }
    </div>
    <div class="form__btn">
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
</div>
