:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.card {
  width: 344px;
  padding: 20px;

  background: #f2f2f2;
  border-radius: 5px;

  h2 {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 700;
  }

  .form__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 4px;

      color: #828282;
      font-size: 10px;
    }

    .ng-invalid.ng-touched {
      border: 1px solid red;
    }

    input {
      padding: 10px;

      background: #e0e0e0;
      border: none;
      outline: none;
    }

    .error {
      font-size: 10px;
      color: rgb(250, 21, 21);
    }
  }

  .tags__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
      width: 50px;
      height: 25px;
    }
  }

  .form__btn {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    .form__reset {
      background: #dbdbdb;
      color: #000;
    }

    button {
      padding: 5px 20px;

      background: #2f80ed;
      border: none;
      color: #ffffff;
      font-size: 12px;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: rgb(148, 145, 145);
        cursor: not-allowed;
      }
    }
  }
}
