<div class="header">
  <div class="inner">
    <div class="top">
      <div class="search">
        <h2 (click)="onMainPage()">Logo</h2>
        <div class="search__content">
          <input
            type="text"
            placeholder="Kuji Podcast"
            [(ngModel)]="searchValue"
            (input)="onSearchValue()"
          />
        </div>
        <button class="filter_btn" (click)="toggleVisibleFilter()">
          <app-filter-icon></app-filter-icon>
        </button>
      </div>
      <div class="top__profile">
        Azamat <app-profile-icon></app-profile-icon>
        <button (click)="onFavoritePage()">
          favorite ({{ store.favoritesCount() }})
        </button>
        <button (click)="onAdminPage()">admin</button>
        @if(isLogged()) {
        <button class="filter_btn" (click)="onLogout()">Выход</button>
        } @else {
        <button class="filter_btn" (click)="onLoginPage()">Вход</button>
        }
      </div>
    </div>
    @if (visibleFilter) {
    <div class="sort">
      <span>Sorting by:</span>
      <span class="sort__item" (click)="sortByDate()">date</span>
      <span class="sort__item" (click)="sortByCounts()">count of views</span>
      <span class="sort__item" (click)="onSearchWordNSentence(searchWord.value)"
        >by word or sentence</span
      >
      <input type="text" value="{{ searchByWordValue }}" #searchWord />
    </div>
    }
  </div>
</div>
