<div class="card">
  <button (click)="handleBack()"><</button>
  <img
    src="{{ store.video().snippet.thumbnails.high?.url }}"
    alt="{{ store.video().snippet.title }}"
    height="{{ store.video().snippet.thumbnails.high?.height }}"
    width="{{ store.video().snippet.thumbnails.high?.width }}"
  />
  <div class="right" [ngStyle]="borderStyle()">
    <div class="right__title">
      <h2>{{ store.video().snippet.title }}</h2>
      <p>{{ store.video().snippet.publishedAt }}</p>
    </div>
    <div>
      <p>Description</p>
      <p class="right__description">
        {{ store.video().snippet.description }}
      </p>
    </div>
  </div>
</div>
